<h1 class="text-center">Create a new Sublist name</h1>

<%= turbo_frame_tag "new_item" do %>
    <% if flash[:notice] %>
        <div class="alert alert-info">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <%= render "form", item: @item %>
<% end %>
