<div class="container vh-100 d-flex flex-column align-items-center mt-5"> 
<h1> Shoping list </h1>


<%= button_to "Add New Item", new_list_path, method: :get, remote: true, class: "btn btn-primary", data: { turbo_frame: "new_list" } %>


  <turbo-frame id="new_list">
  
  </turbo-frame>




</div>